<!DOCTYPE html>
<html>
<head>
    <title>Add Student Record</title>
</head>

<body>

    <h1>Add Student Daily Task</h1>

    <form method="POST" action="{% url 'add_task' %}">

        {% csrf_token %}

        <label>Student Name</label>
        <input type="text" name="name">

        <br><br>

        <label>Stack</label>
        <input type="text" name="stack">

        <br><br>

        <label>Task Title</label>
        <input type="text" name="title">

        <br><br>

        <label>Description</label>
        <textarea name="description"></textarea>

        <br><br>

        <label>Date</label>
        <input type="date" name="date">

        <br><br>

        <label>Hours Worked</label>
        <input type="number" name="hours_worked">

        <br><br>

        <button type="submit">
            Save Record
        </button>

    </form>

</body>
</html>