{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    <h1>Student Records</h1>

    <div class="search_box" >
        <form action="" method="GET" >
            <input type="text" name="search" placeholder="Search Students" value="{{request.GET.search}}"> 
            {% comment %} // request.GET.search --> the content stays in the search box after searching. {% endcomment %}

            <select name="stack" >
                <option value="">All stacks</option>
                <option value="Backend">Backend</option>
                <option value="Frontend">Frontend</option>
                <option value="UI/UX">UI/UX</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
    

    <table border="1">

        <tr>
            <th>Name</th>
            <th>Stack</th>
            <th>Title</th>
            <th>Task Done</th>
            <th>Date</th>
            <th>Hours Worked</th>
            <th>Action</th>
        </tr>

        {% for x in page_obj %}
        <tr>
            <td>{{ x.name }}</td>
            <td>{{ x.stack }}</td>
            <td>{{ x.title }}</td>
            <td>{{ x.description }}</td>
            <td>{{ x.date }}</td>
            <td>{{ x.hours_worked }}</td>
            <td>
            <a href="{% url 'edit_task' x.id %}">Edit</a>

            <form action="{% url 'delete_task' x.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
            </form>
            </td>
        </tr>
        {% endfor %}

    </table>

    <div class="add-btn">
    <a href="{% url 'add_task' %}">+ Add New Record</a>
    </div>

        <div class="pagination">

        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>

            <a href="?page={{ page_obj.previous_page_number }}">
                Previous
            </a>
        {% endif %}

        <span>
            Page {{ page_obj.number }}
            of
            {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            
            <a href="?page={{ page_obj.next_page_number }}">
                Next
            </a>

            <a href="?page={{ page_obj.paginator.num_pages }}">
                Last
            </a>

        {% endif %}

    </div>
    
</body>
</html>